:root {
  --primary-color: #c3d345;
  --secondary-color: #f9e093;
  --accent-color: #dbdbdb;
  --primary-font: "Poppins", cursive;
  --secondary-font: "Quicksand", cursive;
  --background-color: rgb(0, 0, 0, 0.1);
  --box-shadow: rgba(63, 63, 63, 0.781) 0px 3px 6px,
    rgba(63, 63, 63, 0.23) 0px 3px 6px;
}

body {
  margin-top: 150px;
  background-color: #100e19;
}

h1 {
  color: var(--primary-color);
  font-size: 90px;
  font-family: var(--primary-font);
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  color: var(--secondary-color);
  font-size: 40px;
  font-family: var(--secondary-font);
  margin-top: 20px;
}

p {
  font-weight: normal;
  font-size: 16px;
  color: var(--accent-color);
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 80px;
  background-color: var(--background-color);
}

.profile-photo {
  width: 250px;
  border: 2px solid var(--accent-color);
}

.header {
  display: flex;
  margin-bottom: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  flex: 1;
  text-align: center;
  max-width: 120px;
  margin: 10px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links a:hover {
  color: var(--accent-color);
}

.about-link,
.contact-link {
  background: var(--primary-color);
  color: white;
}

.portfolio-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-icons {
  display: flex;
  justify-content: center;
}

.icon-social {
  font-size: 18px;
  margin: 10px;
  color: var(--secondary-color);
}

.icon-social:hover {
  color: var(--primary-color);
}

.content-container {
  padding: 80px 20px;
}

.content h1 {
  font-weight: 44px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--primary-font);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
  color: var(--accent-color);
}

.content {
  margin: 30px;
}

.about-hero-photo {
  border: 2px solid var(--accent-color);
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  color: var(--accent-color);
  border: 1px solid var(--primary-color);
}

.image {
  background-color: var(--background-color);
  width: 500px;
  height: 450px;
  box-shadow: Var(--box-shadow);
}

.weather-app-image {
  padding: 45px 0 0 45px;
}

.clock-app-image {
  padding: 0 45px 0 0;
}

.croissant-app-image {
  padding: 0 0 45px 45px;
}

.project-description {
  padding: 120px 60px;
}

.portfolio-img {
  box-shadow: var(--box-shadow);
}

@media (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  .header {
    display: block;
    margin: 10px auto;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .about-hero-photo {
    width: 60%;
  }

  .profile-photo {
    width: 150px;
    display: block;
    margin: 10px auto;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
