:root {
  --primary-color: #c3d345;
  --secondary-color: #f9e093;
  --accent-color: #dbdbdb;
  --primary-font: "Poppins", cursive;
  --secondary-font: "Quicksand", cursive;
  --border-radius: 30px;
  --box-shadow: 0 5px 10px rgba(125, 126, 95, var(--accent-color));
}

body {
  margin-top: 150px;
  background-color: #100e19;
}

h1 {
  color: var(--primary-color);
  font-size: 90px;
  font-family: var(--primary-font);
  font-weight: bold;
}

h2 {
  color: var(--secondary-color);
  font-size: 36px;
  font-family: var(--secondary-font);
  margin-top: 20px;
}

.hero {
  text-align: center;
  font-weight: normal;
  padding: 0 45px;
}

.profile-photo {
  width: 250px;
  border: 2px solid var(--accent-color);
}

.header {
  display: flex;
  margin-bottom: 10px;
}

.slideshow {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.slide-img {
  flex: 1;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 300px;
  height: 300px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.slide-img:hover {
  filter: brightness(120%);
  max-width: 310px;
  height: 310px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  flex: 1;
  text-align: center;
  max-width: 100px;
  margin: 10px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links a:hover {
  color: var(--accent-color);
}

.about-link,
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.portfolio-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-icons {
  display: flex;
  justify-content: center;
}

.icon-social {
  font-size: 18px;
  margin: 10px;
  color: var(--secondary-color);
}

@media (max-width: 700px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  .header {
    display: block;
    margin: 10px auto;
  }

  .profile-photo {
    width: 150px;
    display: block;
    margin: 10px auto;
  }

  .slideshow {
    display: none;
  }
}
